body {
  font-family: "Lucida Console", "Courier New", Courier, monospace;
  background-color: rgb(146, 173, 201);
  font-size: 100%;
}

nav {
  height: 60px;
  width: 100%;
  background-color: rgb(74, 33, 114);
  position: relative;
  text-align: right;
}
nav ul {
  padding-top: 40px;
}
nav li {
  display: inline;
  color: lavender;
  padding: 15px;
  text-decoration: underline;
}
nav a {
  color: lavender;
}
header {
  height: 300px;
  width: 100%;
  background-image: url("../images/colorful-fluid-art-art-background-diy-abstract-flowing-texture.jpg");
  /* <a href='https://www.freepik.com/photos/abstract-background'>Abstract background photo created by rawpixel.com - www.freepik.com</a> */
  background-size: cover;
  background-position: center;
  position: relative;
}
header img {
  height: 80%;
  width: 32%;
  position: absolute;
  right: 20px;
  bottom: -15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(74, 33, 114);
  border-radius: 20px;
  box-shadow: 8px 8px 5px rgb(35, 10, 59);
}
section {
  color: rebeccapurple;
  display: inline;
  /* height: fit-content; */
  /* width: 100%; */
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rebeccapurple;
  font-size: xx-large;
  font-weight: 300;
  text-decoration: underline;
}
#name {
  text-decoration: none;
  font-weight: 900;
  font-size: 7em;
  text-align: left;
  justify-content: start;
  color: rgb(34, 18, 51);
}
#About_Me {
  width: 75%;
  height: fit-content;
  margin: auto;
  padding: 20px 0px;
  text-align: center;
}
div #bio {
  height: fit-content;
  width: 80%;
  margin: auto;
  color: rebeccapurple;
}

.hero {
  width: 90vw;
  height: 60vh;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(74, 33, 114);
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rebeccapurple;
  background-color: lavender;
}
#otherProjects {
  padding-top: 10px;
  align-content: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.small {
  display: inline-block;
  width: 30%;
  height: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(74, 33, 114);
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rebeccapurple;
  background-color: lavender;
}
.cv {
  width: 90%;
  height: 200px;
  /* border-style: solid;
  border-width: 1px;
  border-color: orange;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rebeccapurple; */
}

.hero header {
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  align-content: center;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  align-content: center;
  text-align: center;
}
img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 90%;
}
img .small {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 80%;
}

h2 {
  text-align: center;
}
#Contact_Me {
  height: 80px;
  width: 100%;
  background-color: rgb(74, 33, 114);

  position: relative;
  text-align: center;
  margin-top: 10px;
}
#Contact_Me h1 {
  color: black;
}
#github {
  color: black;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
